<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/postStory.css">
    <link rel="stylesheet" href="../assets/edit.css">
    <title>Jelli</title>
</head>
<body>
    <!-- There is a bug.
    You cant remove the photo if it was there unless you add another photo and then remove it -->
    <%- include('partials/navbar.ejs') %> 
    <main>
        <div class="story">
            <% if(post.image.url) {%>
                <img class="story-image" src="<%=post.image.url%>" alt="">
            <% }%>
            <h2><%= post.title %> </h2>
            <div class="story-top">
                <span><%= post.date.toLocaleDateString() %></span>
                <span>-@<%= post.author %></span>
            </div>
            <div class="story-text">
                <%= post.text %>
            </div>
        </div>

        <h1>Edit your post</h1>
        <form class="form-1" action="/edit/<%=post._id%>?_method=PUT" method="POST">
            <input name="title" type="text" placeholder="Title" required value="<%=post.title%>">
            <textarea name="text" id="" cols="30" rows="10" placeholder="Write content here" required><%=post.text%></textarea>
            <div class="btns">
                <button class="update-btn">Update</button>   
                <label class="delete-btn" for="delete-btn">Delete Post</label> <!-- i like this technique -->
            </div>
        </form>
        <form action="/delete/<%=post._id%>?_method=DELETE" method="POST">
            <button id="delete-btn" type="submit" style="display: none;">Delete Post</button>
        </form>
    </main>
</body>
</html>