<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/navbar.css">
    <link rel="stylesheet" href="../assets/story.css">
    <link rel="stylesheet" href="../assets/edit.css">
    <link rel="stylesheet" href="../assets/footer.css">
    <title>Jelli</title>
</head>
<body>
    <!-- There is a bug.
    You cant remove the photo if it was there unless you add another photo and then remove it -->
    <%- include('partials/navbar.ejs') %> 
    <main>
        <h1>Edit your post</h1>
        <div class="story">
            <div class="story-top">
                <span>@<%= post.author %></span>
                <span>-<%= post.date.toLocaleDateString() %></span>
            </div>
            <% if(post.image.url) {%>
                <img class="story-image" src="<%=post.image.url%>" alt="">
            <% }%>
            <form class="form-1" action="/edit/<%=post._id%>?_method=PUT" method="POST">
                <div class="story-details">
                    <input name="title" type="text" placeholder="Title" required value="<%=post.title%>">
                    <div class="story-text">
                        <textarea name="text" id="" cols="30" rows="10" placeholder="Write content here" required><%=post.text%></textarea>
                    </div>
                </div>
                <div class="btns">
                    <button class="update-btn">Update</button>   
                    <label class="delete-btn" for="delete-btn">Delete Post</label> <!-- i like this technique -->
                </div>
            </form>
        <form action="/delete/<%=post._id%>?_method=DELETE" method="POST">
            <button id="delete-btn" type="submit" style="display: none;">Delete Post</button>
        </form>
        </div>

    </main>

    <%- include('partials/footer.ejs') %> 

    <script src="https://kit.fontawesome.com/3a105db922.js" crossorigin="anonymous"></script>
</body>
</html>