<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/navbar.css">
    <link rel="stylesheet" href="../assets/story.css">
    <link rel="stylesheet" href="../assets/footer.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 

        
    <% if(flashMsg!= ''){ %>     <!-- here it is a flash message -->
        <div class="success-msg"><%=flashMsg%></div>
    <%}%>
    <main class="main">
        <section class="sec-1-stories">
            <% for(let item of stories) { %> 
                <div class="story">
                    <div class="story-top">
                        <span class="story-top-span-one"><img src="<%=item.user.image.url%>" alt=""></span>
                        <span><%= item.author %></span>
                        <span><%= item.date.toLocaleDateString() %></span>
                    </div>
                    <% if(item.image.url) {%>
                        <img class="story-image" src="<%=item.image.url%>" alt="">
                    <% }%>
                    <div class="story-details">
                        <h2 class="story-title"><%= item.title %> </h2>
                        <%if(currentUser && (JSON.stringify(item.user._id) == JSON.stringify(currentUser._id))){%>
                            <div class="more-own-posts">
                                <a class="edit-post" href="/edit/<%=item._id%>"><i class="fas fa-edit"></i></a>
                            </div>
                        <%}%>
                        <div class="story-text">
                            <%= item.text %>
                        </div>
                    </div>
                </div>
            <% } %> 
        </section>

        <section class="sec-2-side-panel">
            <% if(currentUser){ %>
                <h2 class="greeting">Hi <%=currentUser.name%></h2>
            <%}%>
            <a href="/postStory" class="new-btn">New Post</a>
            <div class="quotes-text">
                <!-- " Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quaerat. Tenetur dignissimos reiciendis, porro fuga est magni quisquam cupiditate commodi! Libero fugit et doloremque sit at, mollitia delectus a aliquid. "-->
            </div>
            
        </section>
    </main>

    <%- include('partials/footer.ejs') %> 

    <script src="https://kit.fontawesome.com/3a105db922.js" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('scroll' , () => {
            let sidePanel = document.querySelector('.sec-2-side-panel');
            if(window.scrollY <= (document.body.offsetHeight)/1.3)
                sidePanel.style.position = 'sticky';
            if(window.scrollY > (document.body.offsetHeight)/1.3)
                sidePanel.style.position = 'relative';
        })

        async function updateQuote() {
            const quotesText = document.querySelector('.quotes-text');
            // const response = await fetch('https://api.quotable.io/tags')
            const response = await fetch('https://api.quotable.io/random?tags=happiness|life|friendship')
            const data = await response.json()
            quotesText.innerHTML = `"${data.content}"<i class="fas fa-sync-alt refresh" onclick="updateQuote()"></i>`;
            // console.log(data);
        }

        window.addEventListener('load', async ()=> {
            updateQuote();
        })

        // const refresh = document.querySelector('.refresh');
        // refresh.addEventListener('click', updateQuote());


    </script>

</body>
</html>