<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/navbar.css">
    <link rel="stylesheet" href="../assets/story.css">
    <link rel="stylesheet" href="../assets/footer.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 

        
    <% if(flashMsg!= ''){ %>     <!-- here it is a flash message -->
        <div class="success-msg"><%=flashMsg%></div>
    <%}%>
    <main class="main">
        <section class="sec-1-stories">
            <% for(let item of stories) { %> 
                <div class="story">
                    <div class="story-top">
                        <span>@<%= item.author %></span>
                        <span>-<%= item.date.toLocaleDateString() %></span>
                    </div>
                    <% if(item.image.url) {%>
                        <img class="story-image" src="<%=item.image.url%>" alt="">
                    <% }%>
                    <div class="story-details">
                        <h2 class="story-title"><%= item.title %> </h2>
                        <%if(currentUser && (JSON.stringify(item.user) == JSON.stringify(currentUser._id))){%>
                            <div class="more-own-posts">
                                <a class="edit-post" href="/edit/<%=item._id%>"><i class="fas fa-edit"></i></a>
                            </div>
                        <%}%>
                        <div class="story-text">
                            <%= item.text %>
                        </div>
                    </div>
                </div>
            <% } %> 
        </section>

        <section class="sec-2-side-panel">
            <% if(currentUser){ %>
                <h2 class="greeting">Hi <%=currentUser.name%></h2>
            <%}%>
            <a href="/postStory" class="new-btn">New Post</a>
        </section>
    </main>

    <%- include('partials/footer.ejs') %> 

    <script src="https://kit.fontawesome.com/3a105db922.js" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('scroll' , () => {
            let sidePanel = document.querySelector('.sec-2-side-panel');
            if(window.scrollY <= (document.body.offsetHeight)/1.11)
                sidePanel.style.position = 'sticky';
            if(window.scrollY > (document.body.offsetHeight)/1.11)
                sidePanel.style.position = 'relative';
        })
    </script>

</body>
</html>