<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/myProfile.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 

    <main>
        <section class="personal-details">
            <h2>Name : <%=user.name%></h2>
            <h2>Account Created : <%=user.date.toLocaleDateString()%></h2>
            <h2>Email Id : <%=user.email%></h2>
        </section>
        <%if(user.stories.length){%>
            <h1>Posts you have created </h1>
            <%console.log(user.stories)%>
            <%for(let item of user.stories){%>
                <div class="story">
                    <% if(item.image.url) {%>
                        <img class="story-image" src="<%=item.image.url%>" alt="">
                    <% }%>
                    <h2><%= item.title %> </h2>
                    <div class="story-top">
                        <span><%= item.date.toLocaleDateString() %></span>
                        <span>-@<%= item.author %></span>
                    </div>
                    <div class="story-text">
                        <%= item.text %>
                    </div>
                    <div class="more-own-posts">
                        <a class="edit-post" href="/edit/<%=item._id%>">Edit</a>
                    </div>
                </div>
            <% } %>
        <% } %>
    </main>














</body>
</html>