<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/navbar.css">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/story.css">
    <link rel="stylesheet" href="../assets/myProfile.css">
    <link rel="stylesheet" href="../assets/footer.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 

    <main>
        <section class="personal-details">
            <h2>Name : <%=user.name%></h2>
            <h2>Jonied us at : <%=user.date.toLocaleDateString()%></h2>
            <h2>Email Id : <%=user.email%></h2>
        </section>
        <%if(user.stories.length){%>
            <h1 class="created-heading">Posts you have created </h1>
            <%console.log(user.stories)%>
            <%for(let item of user.stories){%>
                <div class="story">
                    <div class="story-top">
                        <span>@<%= item.author %></span>
                        <span>-<%= item.date.toLocaleDateString() %></span>
                    </div>
                    <% if(item.image.url) {%>
                        <img class="story-image" src="<%=item.image.url%>" alt="">
                    <% }%>
                    <div class="story-details">
                        <h2 class="story-title"><%= item.title %> </h2>
                        <div class="more-own-posts">
                            <a class="edit-post" href="/edit/<%=item._id%>"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="story-text">
                            <%= item.text %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </main>
    <%- include('partials/footer.ejs') %> 

    <script src="https://kit.fontawesome.com/3a105db922.js" crossorigin="anonymous"></script>
</body>
</html>